
body{
	margin:0;
	padding:0;
	background: url("background.jpg") no-repeat center fixed; 
	background-size: cover;
}
form{
	margin:5%;
	}
.header{
	font-family:helvetica;
	font-size:150%;
	border:outset 2px black;
	height:70px;
	width:320px;
	background:#1C5444;
	}
